<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UM6SS - {% block title %}Index{% endblock title %}</title>
</head>
<body>
    {% block content %}
    <h1 style="text-align: center;">Hello world</h1>
    <a href="{% url 'doctors:home' %}">Home</a>
    <ul>
        {% for doctor in doctors %}
           <li>{{doctor.user.get_full_name}}</li> 
        {% endfor %}
    </ul>
    {% endblock content %}
</body>
</html>